name: Metrics
on:
  # 매일 자정 자동 실행
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1️⃣ 첫 번째 이미지 생성 (라인 차트) -> github-metrics-lines.svg
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-lines.svg # 파일 이름 다름
          base: ""
          repositories_affiliations: owner, collaborator, organization_member

          config_display: large
          
          # 라인 차트만 켜기
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 100
          plugin_lines_sections: history

      # 2️⃣ 두 번째 이미지 생성 (잔디) -> github-metrics-calendar.svg
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics-calendar.svg # 파일 이름 다름
          base: ""
          repositories_affiliations: owner, collaborator, organization_member

          config_display: large
          

          # 잔디만 켜기
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
